<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Formulario Juegos</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragmentos::bootstrap"></th:block>

</head>
<body>
<!--Site nav-->
<nav th:replace="Frag-Pruebas::nav"></nav>

<main class="container py-5">
    <div class="row g-5">
        <div class=" col-md-7 col-lg-8">
            <form method="post" action="#" enctype="multipart/form-data"
                  th:action="${JuegosForm.id != 0} ? @{/juego/edit/submit} : @{/juego/new/submit}"
                  th:object="${JuegosForm}">
                <h4 class="mb-3" th:text="${JuegosForm.id != 0} ? 'Editar juego' : 'Nuevo juego'">Nuevo juego</h4>
                <div class="row g-3">
                    <div>
                        <input type="hidden" id="id" name="id" th:field="*{id}">
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('nombre')} ? 'has-error'">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}"/>
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                              class="help-block" id="nombre-error"></span>
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('empresa')} ? 'has-error'">
                        <label for="empresa" class="form-label">Empresa</label>
                        <input type="text" class="form-control" id="empresa" placeholder="Empresa"
                               th:field="*{empresa}"/>
                        <span th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"
                              class="help-block" id="empresa-error"></span>
                    </div>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('precio')} ? 'has-error'">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="tel" class="form-control" id="precio" placeholder="954" th:field="*{precio}"/>
                        <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"
                              class="help-block" id="precio-error"></span>
                    </div>

                    <div class="col-sm-6 form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="disponible" th:field="*{disponible}">
                        <label class="form-check-label" for="disponible">¿Esta disponible?</label>
                    </div>

                    <div th:each="tipo : ${listaGenero}">
                        <div class="col-sm-6 form-check form-check-inline">
                            <input type="radio" class="form-check-input" th:field="*{genero}" th:value="${tipo.id}">
                            <label class="form-check-label" th:for="${#ids.prev('genero')}"
                                   th:text="${tipo.nombre}">Genero</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="file">Imagen</label>
                        <input type="file" id="file" name="file" class="form-control">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary mt-1">Enviar</button>
            </form>
        </div>
    </div>
</main>
<!-- Site footer -->
<footer th:replace="fragmentos::footer"></footer>
<th:block th:replace="fragmentos::jsfinal(~{::script})">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</th:block>
</body>
</html>

