<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Blog Index</title>
    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragmentos::bootstrap"></th:block>
</head>
<body>
<!--Site header-->
<header id="Cabezera" class="p-3  text-white">

    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a class="nav-link px-2 text-secondary" href="#" th:href="@{/}"><i class="fa fa-home"></i> <span
                            th:text="#{header.Inicio}">Inicio</span></a>
                </li>
                <li>
                    <a sec:authorize="isAuthenticated()" class="nav-link px-2 text-white" href="#"
                       th:href="@{/usuario/list}"> <i class="fas fa-user"> </i><span th:text="#{header.Usuarios}">Usuarios</span></a>
                </li>
                <li>
                    <a sec:authorize="isAuthenticated()" class="nav-link px-2 text-warning" href="#"
                       th:href="@{/juego/listJuego}"> <i class="fas fa-user"> </i><span th:text="#{header.Usuarios}">Usuarios</span></a>
                </li>
                <li>
                    <a class="nav-link px-2 text-white" href="#" th:href="@{/humanidad}"><i class="fas fa-globe"></i>
                        <span th:text="#{header.Humanidad}">Humanidad</span></a>
                </li>
                <li>
                    <a class="nav-link px-2 text-white" href="#" th:href="@{/Pruebas}"><i class="fas fa-globe"></i>
                        <span>Pruebas</span></a>
                </li>
                <li>
                    <a th:if="${#authentication.name}" sec:authorize="hasRole('ADMIN')" href="#"
                       th:href="@{/usuario/new}" class="nav-link px-2 text-white">
                        <i class="fas fa-plus-circle"></i> <span th:text="#{header.meter}"> Añadir usuario</span></a>
                </li>
                <li>
                    <a th:if="${#authentication.name}" sec:authorize="hasRole('ADMIN')" href="#" th:href="@{/juego/new}"
                       class="nav-link px-2 text-warning">
                        <i class="fas fa-plus-circle"></i> Añadir usuario</a></li>
            </ul>
            <!--Cambiar-->
            <!--        <input type="search" class="form-control form-control-dark" th:placeholder="#{headar.buscar}" aria-label="Search">-->
            <form href="#" class=" d-none d-md-block col-8 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post" action="#"
                  th:action="@{/usuario/list/filter}">
                <label for="nombre" class="form-label">Filtrar por nombre</label>
                <input type="text" class="form-control" href="#" id="nombre" placeholder="Nombre" name="nombre"
                       onkeyup="handleSearch()"/>

                <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://m.media-amazon.com/images/I/41eZVpAFGyL._AC_SY580_.jpg" alt="mdo" width="32"
                         height="32" class="rounded-circle">
                    <!--          <img class="img-fluid img-thumbnail" src="" th:src="@{../img/Imperial-Guard.jpg}" width="180" height="170" alt=""/>-->
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#" th:text="#{header.nProyecto}">Nuevo proyecto</a></li>
                    <li><a class="dropdown-item" href="#" th:text="#{header.opciones}">Opciones</a></li>
                    <li><a class="dropdown-item" href="#" th:text="#{header.Perfil}">Perfil</a></li>
                    <li><a class="dropdown-item" th:text="#{header.esp}" th:href="@{''(lang=es_ES)}">Español</a></li>
                    <li><a class="dropdown-item" th:text="#{header.ingles}" th:href="@{''(lang=en_US)}">Inglés</a></li>
                    <li><a class="dropdown-item" th:href="@{'/prefs/edit'}" th:text="#{header.prefe}">Editar
                        preferencias</a></li>
                    <li>
             <span class="dropdown-item"
                   th:each="cookie : ${#request.cookies}"
                   th:if="${cookie.getName() == #authentication.getName()}"
                   th:text="#{header.visitas} + ': ' + ${cookie.getValue()}">
              </span>

                    </li>
                    <li>
                        <!--/*@thymesVar id="num_Usuarios" type=""*/-->
                        <span class="dropdown-item"
                              th:text="#{header.numUsuarios} + ': ' + ${session.num_Usuarios}"></span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt"></i> Salir</a>
                    </li>
                    <form th:action="@{/logout}" method="post" id="logoutForm"></form>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--Site Main-->
<main>
    <div class="container mx-auto mt-4 ">
        <div class="jumbotron">

            <div id="portada" class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic">La Gran Fisura </h1>
                    <p class="lead my-3">La Gran Fisura, también llamada Cicatrix Maledictum, el Camino Carmesí, la Boca
                        de la Ruina,
                        la Cicatriz Disforme, el Dathedian, la Sonrisa de Gorko y Mont'yhe'va</p>
                    <p class="lead mb-0"><a href="#" class="text-white fw-bold">¿Quiere saber más?</a></p>
                </div>
            </div>
            <!--    <div id="paraelmodal"></div>-->
            <div class="d-none d-md-block position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
                <div style="color: red;" id="objeto" class="col-md-7 p-lg-7 mx-auto my-7">
                    <h1 class="display-6 fw-normal">Listado de usuarios del blog</h1>

                    <table th:replace="fragmentos::lista-usuarios"></table>
                </div>
            </div>

            <div class="row mb-2">
                <!--Meter for each      -->
                <div class="col-md-6 zoom">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Lore</strong>
                            <h3 class="mb-0">El Emperador</h3>
                            <div class="mb-1 text-muted">Año 30.000</div>
                            <p class="card-text mb-auto">El emperador de la humanidad proclamo la Gran cruzada en busca
                                de los primarcas
                                y unificar a la humanidad.</p>
                            <a href="#" class="stretched-link">¿Quiere saber más?</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                            <img class="img-fluid img-thumbnail " src="" th:src="@{../img/Emperador.jpg}" width="195"
                                 height="200" alt=""/>

                            <!--            <img src="" th:src="@{'https://www.games-workshop.com/resources/catalog/product/600x620/99120101353_HonouredoftheChapterLead.jpg'}" width="200" height="250" />-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 zoom">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Guardia imperial</strong>
                            <h3 class="mb-0">La Guardia te necesita</h3>
                            <div class="mb-1 text-muted">Año 40.000</div>
                            <p class="mb-auto">La guardia imperial es un martillo del emperador, es la primera contra el
                                hereje y el xeno.</p>
                            <b>!Unete a la Guardia Imperial!</b>
                            <a href="#" class="stretched-link">¿Quiere saber más?</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="img-fluid img-thumbnail" src="" th:src="@{../img/Imperial-Guard.jpg}"
                                 width="180" height="200" alt=""/>
                        </div>
                    </div>
                </div>
                <!-- Hasta aqui     -->
                <div class="col-md-6 zoom">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Lore</strong>
                            <h3 class="mb-0">Los tyranidos</h3>
                            <div class="mb-1 text-muted">Año ?????</div>
                            <p class="card-text mb-auto">Son la misma muerte de la galaxia una gran colmena de seres
                                sedientos de biomasa que usaran para aumentar sus números</p>
                            <a href="#" class="stretched-link">¿Quiere saber más?</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="img-fluid img-thumbnail" src="" th:src="@{../img/tyra.jpg}" width="170"
                                 height="200" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 zoom">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-start">Orkos</strong>
                            <h3 class="mb-0">El GRANN WAAAGGGGH</h3>
                            <div class="mb-1 text-muted">Año 40.000</div>
                            <p class="mb-auto">Los chicoz más duroz te ezperan en las mejores batallas, coje tu
                                garrapato y unete a la lucha</p>
                            <b>! WAAAGGGGH!</b>
                            <a href="#" class="stretched-link">¿Quiere saber más?</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="img-fluid img-thumbnail" src="" th:src="@{../img/Ghazg.jpg}" width="180"
                                 height="200" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Site footer -->
<footer th:replace="fragmentos::footer"></footer>
<th:block th:replace="fragmentos::jsfinal(~{::script})">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>

</th:block>
</body>
</html>
