<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Las Noticias 1</title>
  <!-- Bootstrap core CSS -->
  <th:block th:replace="fragmentos::bootstrap"></th:block>
  <!--Pruebas DMCard -->
  <link th:href="@{/css/DMCard.css}" rel="stylesheet">
  <link th:href="@{/css/carrito.css}" rel="stylesheet">
  <!--Pruebas Carrusel, tambien afecta a botones-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--ajax-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body>
<!--Site Nav-->
<nav th:replace="Frag-Pruebas::nav"></nav>
<!--Site Main-->
<main>
  <section th:replace="fragmentos::CarritoInvi"></section>
  <section id="humanidad1" class="container pagina mx-auto mt-3">
    <h1 class=" mt-2 mb-2"><i class="fa-solid fa-scroll fa-lg"></i> <span th:text="#{h1.noti}"> Noticias </span><i class="fa-solid fa-scroll fa-lg"></i></h1>
    <hr class="featurette-divider">
    <div class="row featurette noticia">
      <div class="col-md-7">
        <h2 class="featurette-heading">Zombicide: <span class="text-danger">Black Plague </span></h2>
        <p th:text="#{Not.noticias4}">¡Bienvenidos al oscurantismo de la Edad Media! En su delirante búsqueda de conocimientos prohibidos y el poder definitivo, los nigromantes han desatado el apocalipsis sobre
          el mundo de los vivos. Sus zombis han destruido los ejércitos del rey y ahora campan a sus anchas, sembrando el caos y la muerte por toda la región.

          ¡Desenvaina tu espada, tensa tu ballesta y prepara tus conjuros! Para los pocos valientes que aún resisten, ha llegado la hora de... ¡"Zombicide: Black Plague"!.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image  mx-auto" width="500"
             height="300" src="/img/juegos/zombicideBP.jpg"  alt="">
      </div>
      <hr class="featurette-divider mt-1">
    </div>


    <div class="row featurette noticia">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oathsworn:<span class="text-warning">Into the Deepwoodr</span>
        </h2>
        <p th:text="#{Not.noticias5}">Oathsworn: Into the Deepwood" es un juego de mesa que se centra en opciones narrativas y ricos encuentros de combate en miniatura. El juego se desarrolla en Deepwood, donde una
          compañía libre (los juramentados) lucha por la supervivencia de la humanidad contra los horrores antinaturales y el propio Deepwood.
          A medida que se desarrollan las sesiones, el grupo se sumerge en una profunda campaña en la que obtienen niveles, botines y nuevos aliados para unirse a ellos en su viaje.</p></div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image  mx-auto" width="500"
             height="300"  src="/img/juegos/oathsworn.jpg"  alt="">
      </div>
    </div>
    <hr class="featurette-divider mt-1">
    <div class="row featurette noticia">
      <div class="col-md-7">
        <h2 class="featurette-heading">Umbra:<span class="text-warning">La Sombra de Terciopelo</span></h2>
        <p th:text="#{Not.noticias6}">Sólo los hombres lobo estúpidos creen que pueden ganar en la guerra contra el Wyrm únicamente en el mundo físico. Algunos usan la Penumbra como atajo, como centro de operaciones o como forma de tender trampas a enemigos espiritualmente conscientes. Otros toman Puentes Lunares a los Reinos
          en la Umbra Próxima, en busca de poderosas magias espirituales o una concentración de las fuerzas del Wyrm lista para atacar a Gaia. Algunos cruzan a otros mundos espirituales con la esperanza de encontrar algún saber desconocido que pueda cambiar el curso de los acontecimientos en su favor. Y unos pocos rumorean sobre la existencia de criaturas bendecidas por la propia Gaia, creadas a partir de sí misma para contener la corrupción del Wyrm.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image  mx-auto" width="500" height="400" src="https://www.nosolorol.com/3368-large_default/umbra-la-sombra-de-terciopelo-papel.jpg" alt="">
      </div>
    </div>
    <hr class="featurette-divider mt-1">
    <!-- Botones de navegación -->
    <div class="text-center d-flex justify-content-between">
      <a class="nav-link px-2 text-warning" href="#" th:href="@{/noticias}">
        <button id="anteriorBtn" class="btn mt-2 mb-2 btn-success">Anterior</button>
      </a>
      <span id="contadorPagina" class="mx-3 mt-2 mb-2"></span>
      <a class="nav-link px-2 text-warning" href="#" th:href="@{/noticias2}">
        <button th:href="@{/noticias1}" id="siguienteBtn" class="btn mt-2 mb-2 btn-primary">Siguiente</button>
      </a>
    </div>
  </section>


</main>
<!-- Site footer -->
<footer th:replace="fragmentos::footer"></footer>
<script th:src="@{/js/noticias.js}"></script>
<!--Scrips-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:replace="fragmentos::CarritoInvsible"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!--Sin esto no funciona el carrito-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" async></script>
<script th:src="@{/js/carrito.js}" async></script>
<script th:src="@{/js/app.js}" async></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" async></script>

</body>
</html>
