<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Politicas de privacidad</title>
  <!-- Bootstrap core CSS -->
  <th:block th:replace="fragmentos::bootstrap"></th:block>
  <!--Pruebas DMCard -->
  <link th:href="@{/css/DMCard.css}" rel="stylesheet">
  <link th:href="@{/css/carrito.css}" rel="stylesheet">
</head>
<body>
<!--Site Nav-->
<nav th:replace="Frag-Pruebas::nav"></nav>
<div class="container my-3 py-5 ">
<h1>Políticas de privacidad</h1>
<ul>
  <li>
    <b>1 Recopilación de información:</b>
    <ul>
      <li>Para brindar nuestros servicios, recopilamos información personal como nombre, dirección de correo electrónico, dirección de envío y detalles de pago.</li>
      <li>También podemos recopilar información no personal, como datos demográficos y preferencias, para mejorar tu experiencia en nuestro sitio web.</li>
    </ul>
  </li>
  <li>
    <b>2 Uso de la información:</b>
    <ul>
      <li>Utilizamos la información personal proporcionada para procesar y entregar tus pedidos, proporcionarte soporte al cliente y enviar información relevante sobre nuestros productos y ofertas.</li>
      <li>La información no personal se utiliza para mejorar nuestros servicios, personalizar tu experiencia en el sitio y realizar análisis estadísticos.</li>
    </ul>
  </li>
  <li>
    <b> 3 Almacenamiento y protección de la información: </b>
    <ul>
      <li>Mantenemos medidas de seguridad adecuadas para proteger tu información contra accesos no autorizados, pérdida, uso indebido o divulgación.</li>
      <li>No compartimos tu información personal con terceros, excepto cuando sea necesario para cumplir con los fines de la transacción (por ejemplo, proveedores de envío y procesadores de pagos).</li>
    </ul>
  </li>
  <li>
    <b> 5 Cookies:</b>
    <ul>
      <li>Utilizamos cookies y tecnologías similares para mejorar la funcionalidad del sitio web, personalizar tu experiencia y recopilar información sobre cómo interactúas con nuestro sitio.</li>
    </ul>
  </li>
  <li>
    <b>6 Enlaces a sitios de terceros:</b>
    <ul>
      <li>Nuestro sitio web puede contener enlaces a sitios de terceros. No nos hacemos responsables de las prácticas de privacidad o contenido de dichos sitios.</li>
    </ul>
  </li>
  <li>
    <b>7 Cambios en la política de privacidad:</b>
    <ul>
      <li>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Cualquier cambio se comunicará a través de nuestro sitio web.</li>
    </ul>
  </li>
</ul>
</div>
<footer th:replace="fragmentos::footer"></footer>
<!-- Scripts -->
</body>
</html>