<!DOCTYPE html>
<!--suppress HtmlDeprecatedAttribute -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>DM Index</title>
    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragmentos::bootstrap"></th:block>
    <!--Pruebas DMCard -->
    <link th:href="@{/css/DMCard.css}" rel="stylesheet">
    <link th:href="@{/css/carrito.css}" rel="stylesheet">
    <!--Pruebas Carrusel-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Pruebas-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>
<body>
<!--Site Nav-->
<nav th:replace="Frag-Pruebas::nav"></nav>
<!--Site Main-->
<main>
    <!--Carrusel-->
    <div th:replace="Frag-Pruebas::Carrusel"></div>
    <!--Juegos 11  Imagenes con texto -->
    <h1><i class="fa-solid fa-dragon fa-lg"></i> Juegos <i class="fa-solid fa-dragon fa-lg fa-flip-horizontal"></i></h1>
    <section th:replace="Frag-Pruebas::Carrito"></section>
    <hr>
    <!--Cartas-->
    <div class="container mx-auto" th:replace="Frag-Pruebas::Cartas"></div>

    <!-- Noticias -->
    <hr>
    <h1 class=" mt-2 mb-2"><i class="fa-solid fa-scroll fa-lg"></i> Noticias <i class="fa-solid fa-scroll fa-lg"></i></h1>

    <div class="row mb-2 container mx-auto">
        <div class="col-md-6 zoom">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Lore</strong>
                    <h3 class="mb-0">El Emperador</h3>
                    <div class="mb-1 text-muted">Año 30.000</div>
                    <p class="card-text mb-auto">El emperador de la humanidad proclamo la Gran cruzada en busca de los
                        primarcas
                        y unificar a la humanidad.</p>
                    <a href="#" class="stretched-link">¿Quiere saber más?</a>
                </div>
                <div class="col-auto d-none d-lg-block">

                    <img class="img-fluid img-thumbnail " src="" th:src="@{../img/Emperador.jpg}" width="195"
                         height="200" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-md-6 zoom">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Guardia imperial</strong>
                    <h3 class="mb-0">La Guardia te necesita</h3>
                    <div class="mb-1 text-muted">Año 40.000</div>
                    <p class="mb-auto">La guardia imperial es un martillo del emperador, es la primera contra el hereje
                        y el xeno.</p>
                    <b>!Unete a la Guardia Imperial!</b>
                    <a href="#" class="stretched-link">¿Quiere saber más?</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="img-fluid img-thumbnail" src="" th:src="@{../img/Imperial-Guard.jpg}" width="180"
                         height="200" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2 zoom">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Lore</strong>
                    <h3 class="mb-0">Los tyranidos</h3>
                    <div class="mb-1 text-muted">Año ?????</div>
                    <p class="card-text mb-auto">Son la misma muerte de la galaxia una gran colmena de seres sedientos
                        de biomasa que usaran para aumentar sus números</p>
                    <a href="#" class="stretched-link">¿Quiere saber más?</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="img-fluid img-thumbnail" src="" th:src="@{../img/tyra.jpg}" width="170" height="200"
                         alt=""/>
                </div>
            </div>
        </div>
        <div class="col-md-6 zoom">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-start">Orkos</strong>
                    <h3 class="mb-0">El GRANN WAAAGGGGH</h3>
                    <div class="mb-1 text-muted">Año 40.000</div>
                    <p class="mb-auto">Los chicoz más duroz te ezperan en las mejores batallas, coje tu garrapato y
                        unete a la lucha</p>
                    <b>! WAAAGGGGH!</b>
                    <a href="#" class="stretched-link">¿Quiere saber más?</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="img-fluid img-thumbnail" src="" th:src="@{../img/Ghazg.jpg}" width="180" height="200"
                         alt=""/>
                </div>
            </div>
        </div>
    </div>
    <!--    Redes sociales -->
  <div th:replace="Frag-Pruebas::Social"></div>
    <!--Boton para ir arriba-->
    <button id="scrollButton" onclick="scrollToTop()" class="btn btn-primary">
        Ir arriba <i class="fas fa-arrow-up fa-lg"></i>
    </button>
</main>

<!-- Site footer -->
<footer th:replace="fragmentos::footer"></footer>
<!--Musiaca-->
<!--<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>-->


<script>
    <!--Pruebas email-->
    document.getElementById("carrito").addEventListener("submit", function (event) {
        event.preventDefault();

        let form = event.target;
        let destinatario = form.destinatario.value;
        // let asunto = form.asunto.value;
        let mensaje = form.mensaje.value;
        let agradecimiento = form.agradecimiento.value;

        let formData = new FormData();
        formData.append("destinatario", destinatario);
        // formData.append("asunto", asunto);
        formData.append("mensaje", agradecimiento); // Usar el mensaje de agradecimiento en lugar del mensaje del campo de texto

        let url = "https://formsubmit.co/ajax/" + destinatario;
        fetch(url, {
            method: "POST",
            body: formData
        })
            .then(function (response) {
                if (response.ok) {
                    alert("Correo enviado exitosamente");
                    form.reset();
                } else {
                    alert("Error al enviar el correo");
                }
            })
            .catch(function (error) {
                console.log(error);
                alert("Error al enviar el correo");
            });
    });
    // Nos permite ir al principio de la pagina
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        var scrollButton = document.getElementById("scrollButton");
        var redesSociales = document.querySelector(".redes-sociales");
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollPosition > redesSociales.offsetTop) {
            scrollButton.style.display = "block";
        } else {
            scrollButton.style.display = "none";
        }
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
</script>

<script th:src="@{/js/carrusel.js}" async></script>
<script th:src="@{/js/carrito.js}" async></script>
<script th:src="@{/js/app.js}" async></script>

<script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
    new Crate({
        server: '1105057341281423400', // El Dragón de La Mesa
        channel: '1105057342074138668' // #「📣」rules
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<!--Sin esto no funciona el carrito-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" async></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" async></script>
<!--<th:block th:replace="fragmentos::jsfinal(~{::script})">-->
<!--    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!--</th:block>-->
</body>
</html>